
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="consultorio"> 

            <div> <h5 class="fs-1 " style="text-align: center; padding: 15px">Tenemos sedes en </h5>  </div>
            <div>
                
<div style="position: relative; display: inline-block; width: 100%;">
    <img th:src="@{/img/pexels-cedric-fauntleroy-4269694.jpg}" 
         class="d-block w-100 img-fluid custom-height" 
         alt="..." style="height: 500px; object-fit: cover;">
    
    <div class="container text-center" 
         style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
        <div class="row align-items-center justify-content-center gy-3">
            
            <div class="col-12 col-md-auto">
                <a th:href="@{/consultorio/ProvinciaSanJose}">
                    <button type="button" class="btn btn-primary w-100" 
                        style="background-color: #57ccb8; border: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
                               padding: 15px; font-size: 24px;">
                        San Jose
                    </button>
                </a>
            </div> 
            
            <div class="col-12 col-md-auto mx-5">
                <a th:href="@{/consultorio/ProvinciaHeredia}">
                    <button type="button" class="btn btn-primary w-100" 
                        style="background-color: #57ccb8; border: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
                               padding: 15px; font-size: 24px;">
                        Heredia
                    </button>
                </a>
            </div> 
            
            <div class="col-12 col-md-auto">
                <a th:href="@{/consultorio/ProvinciaLindora}">
                    <button type="button" class="btn btn-primary w-100" 
                        style="background-color: #57ccb8; border: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
                               padding: 15px; font-size: 24px;">
                        Lindora
                    </button>
                </a>
            </div> 
            
        </div>
    </div>
</div>


    
    
</div>
        </section>

    </body>
</html>
