
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="ProvinciaHeredia">
            
              <h5 class="fs-1 " style="text-align: center; padding: 15px">Heredia</h5>     
                            
                            
                            <div>
                                
                                <div class="container text-center">
                <div class="row">
                    <div class="col  fs-5 py-5 my-5">
                        Llamanos al +506 3333-1111
                        
                   <div class="d-flex justify-content-center align-items-center vh-50 my-5">
            <a href="https://api.whatsapp.com/send?phone=50664592254&text=Te%20escribo%20desde%20el%20sitio%20web%20de%20Drs%20Dents%2C%20necesito%20m%C3%A1s%20informaci%C3%B3n"
                target="_blank">
                <button type="button" class="btn btn-primary"
                    style="background-color: #57ccb8;border: #57ccb8; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); padding: 10px 50px; font-size: 30px; ">
                    Llamanos
                </button>
            </a>
        </div>
                        
                        
                    </div>
                    
                    <div class="col">
                        <div class=" py-5 fs-5  my-5">Heredia centro, frente a la iglesia 50m norte</div>

                    </div>
                    
                    
                    <div class="col">
      
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31434.02061409801!2d-84.16262328916014!3d9.995983200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fbd99594b089%3A0xb83181e12951bb2b!2sDrs.%20Dent%20San%20Francisco%20-%20Heredia!5e0!3m2!1ses-419!2scr!4v1729759053028!5m2!1ses-419!2scr"
                                        width="600" height="450" ></iframe>
                           
                    </div>
                </div>
            </div>

</div>
        </section>
        
        </body>
</html>
