<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="lista-personal">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header" style="background-color: #69BFB7">
                                <h2 class="text-white">PERSONAL</h2>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">P Apellido</th>
                                        <th scope="col">S Apellido</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Salario</th>
                                        <th scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="listar : ${listar}">
                                        <td>[[${listar.id}]]</td>
                                        <td>[[${listar.idUsuario}]]</td>
                                        <td>[[${listar.nombre}]]</td>
                                        <td>[[${listar.primerApellido}]]</td>
                                        <td>[[${listar.segundoApellido}]]</td>
                                        <td>[[${listar.rol}]]</td>
                                        <td>[[${listar.salario}]]</td>
                                        <td>[[${listar.estado}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="busqueda cliente" aria-label="Search">
                            <button class="btn" style="background-color: #69BFB7" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <br>
                        <br>
                        <div class="text-center">
                            <button class="btn" style="background-color: #69BFB7" type="submit">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
