<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  
    
    
    <body>
        <section th:fragment="inicioSesion">
            <body>
    <h2 class="text-center mb-4 fs-1 my-5">
      Inicio de sesion  </h2>

       
        <div class="container py-5">
            <form class="mx-auto" style="max-width: 600px;">
                <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo electronico de contacto</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingreselo sin espacios" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Numero telefónico</label>
            <input class="form-control" type="text" placeholder="Ingrese su Numero" aria-label="default input example">
        </div>

   
        <div class="mb-3">
            <label for="formFile" class="form-label">Cedula o pasaporte</label>
            <input class="form-control" type="text" placeholder="Ingreselo sin . o ," aria-label="default input example">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Zona</label>
            <input class="form-control" type="text" placeholder="Ingrese su zona" aria-label="default input example">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Ubicación</label>
            <input class="form-control" type="text" placeholder="Ingrese la ubicación exacta del avistamiento" aria-label="default input example">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Pásanos un reporte</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Explique detalladamente lo sucedido" rows="3" style="width: 100%; height: 150px; resize: none;"></textarea>
        </div>
      </form>
    </div>
<div class="text-center" style="padding: 50px;">

    <button type="button" class="btn btn-primary" style="background-color: #57ccb8;border: #57ccb8;  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); padding: 10px 25px; font-size: 20px;"> Enviar</button>

</div>
 
        </section>    
    </body>
</html>
