<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

        <style>
            .text-justify {
                text-align: justify;
                text-justify: inter-word;
                line-height: 1.6;
            }
        </style>
    </head>

    <body>

        <section th:fragment="implantologia">


            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mb-4 fs-1">Implantología</h2>
                        <h4>¿Qué es un implante dental?</h4>
                        <p class="text-justify fs-5">
                            Un implante dental es un procedimiento que se realiza con el objetivo de reponer un diente ausente o faltante en boca y, que a diferencia de otras técnicas, es una opción fija y que logra reemplazar la raíz de un diente, preservando a largo plazo el nivel de hueso de la zona y evitando afectar a dientes adyacentes.
                        </p>
                        <br>
                        <h4>Tipos de restauraciones o prótesis sobre implantes:</h4>
                        <p class="text-justify fs-5">
                            <b> Removibles:</b> Es una alternativa un poco más estable a las prótesis removibles, ya sean totales o parciales.
                            <br><!-- comment -->
                            <b> Fijos:</b> Dentro de esta categoría se encuentran los siguientes tipos:
                            <br>
                            <b>Coronas unitarias:</b> Es la restauración más común en donde un diente de porcelana se atornilla de forma permanente al implante previamente colocado.   
                            <br><!-- comment -->
                            <strong> Puentes fijos sobre implantes:</strong> Otra opción de este tipo de prótesis fija es un puente sobre implantes, el cual se usa cuando al paciente le faltan varios dientes de un mismo lado.
                            <br><!-- comment -->
                            <strong>Prótesis dental all on four: </strong> Se utiliza en pacientes que han perdido todos sus dientes o estos requieren ser extraídos en su totalidad. El tratamiento de implantes dentales indica que se pueden colocar entre 4 y 6 implantes, dependiendo del caso, para devolver la función al paciente. 
                        </p>


                    </div>
                </div>
            </div>
        </section>

    </body>

</html>
