<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .text-justify {
                text-align: justify;
                text-justify: inter-word;
                line-height: 1.6;
            }
        </style>
    </head>


    <body>

        <section th:fragment="ortodoncia">


            <div class="container my-5">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center mb-4 fs-1">
                            Ortodoncia
                        </h1>
                        <h2>
                            ¿Qué es la Ortodoncia?
                        </h2>
                        <br>
                        <p class="text-justify fs-5">             
                            La ortodoncia es una especialidad odontológica que estudia, previene y corrige las alteraciones 
                            del desarrollo, las formas de las arcadas dentarias y la posición de los maxilares con el fin
                            de restablecer el equilibrio morfológico 
                            y funcional de la boca y de la cara, mejorando también la estética facial.   
                        </p>

                        <br>

                        <h3>
                            ¿Qué tipos de ortodoncia existen?
                        </h3>
                        <br>
                        <p class="text-justify fs-5">             
                            <b>Ortodoncia interoceptiva:</b> La ortodoncia interceptiva es el nombre más técnico y adecuado para referirse a la ortodoncia infantil. Este tipo de ortodoncia recibe este nombre porque pretende “interceptar” el proceso de crecimiento de su estructura maxilofacial y adelantarse a los problemas de oclusión y mordida que el niño/a desarrollará cuando haya finalizado su fase de crecimiento, especialmente el prognatismo y el retrognatismo. 
                            <br>
                            <b>Ortodoncia correctiva:</b> El tratamiento de ortodoncia correctiva, completa o de segunda fase”, se lleva a cabo en pacientes adultos o adolescentes, generalmente posterior al pico de crecimiento.
                        </p>
                        <br>
                        <h3>
                            ¿Qué tipos de Ortodoncia ofrecemos?
                        </h3>
                        <br><!-- comment -->
                        <p class="text-justify fs-5">             
                            <b>Brackets Metálicos:</b> Los brackets metálicos son la técnica de ortodoncia más común y de uso extendido durante años. 
                            <br>
                            <b>Brackets de Autoligado</b> Los brackets autoligables son un sistema de ortodoncia que utiliza unos brackets especiales que no necesitan ligaduras. 
                           
                            <b> Brackets Estéticos</b> Tal como los brackets de zafiro, suponen un paso más en los tratamientos de ortodoncia, ya que con esta técnica se utilizan brackets transparentes, lo que consigue que se mimeticen con el color del diente.

                        
                        </p>


                        </section>
                    </div>
                </div>
            </div>
    </body>
</html>
