<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

        <style>
            .text-justify {
                text-align: justify;
                text-justify: inter-word;
                line-height: 1.6;
            }
        </style>
    </head>

    <body>

        <section th:fragment="implantologia">


            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mb-4 fs-1">Cirugía maxilofacial</h2>
                        <h4>¿Qué es la Cirugía Maxilofacial?</h4>
                        <p class="text-justify fs-5">
                            La cirugía maxilofacial hace referencia a la especialidad médica que se dedica al estudio, 
                            prevención, diagnóstico, tratamiento y rehabilitación de los problemas relacionados con las estructuras anatómicas de la cara,
                            el cráneo, cabeza y cuello, la cavidad oral, maxilares y dientes. Es una especialidad enfocada en la cirugía y los tratamientos más comunes
                            o más conocidos son las cirugías de cordales, o muelas del juicio, y la cirugía ortognática que se encarga de posicionar mejor la mandíbula 
                            y/o el maxilar.
                        </p>
                        <br>
                        <h4>¿Qué diferencia hay entre un cirujano maxilofacial y un odontólogo?</h4>
                        <p class="text-justify fs-5">
                            La diferencia entre un cirujano maxilofacial y un odontólogo es que el primero, 
                            además de estudiar odontología, ha llevado una especialidad que dura otros 4 años 
                            y combina práctica clínica en hospitales la mayoría del tiempo. 
                            Así pues, los profesionales especialistas en cirugía maxilofacial 
                            tienen una formación que reúne conocimientos dentales y conocimientos 
                            quirúrgicos en cabeza y cuello; oncología y cirugía reconstructiva facial; 
                            anomalías dento-faciales y estética facial; patología de glándulas salivales, 
                            de la articulación mandibular y de la erupción dentaria; reconstrucción ósea de los maxilares
                            y rehabilitación con implantes dentales.

                        </p>
                        <br>
                         <h4>¿Qué procedimientos de esta rama ofrecemos?</h4>
                         <ul>
                             <li class="fs-5">Cirugías de cordales.</li>
                             <li class="fs-5">Cirugías de implantes.</li>
                             <li class="fs-5">Regeneraciones óseas.</li>
                             <li class="fs-5">Elevación de seno maxilar</li>
                             <li class="fs-5">Cirugía ortognática</li>
                             <li class="fs-5">Remoción de quistes</li>
                         </ul>

                    </div>
                </div>
            </div>
        </section>

    </body>

</html>
